@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.zoom {
    transition: transform .3s;
}

.zoom:hover {
    -ms-transform: scale(1.02); /* IE 9 */
    -webkit-transform: scale(1.02); /* Safari 3-8 */
    transform: scale(1.02); 
    cursor: pointer;
}

.bestSellersUnderline {
    position: absolute;
    bottom: -8px;
    background-color: #f6a364;
    height: 5px;
    width: 10rem;
    border-radius: 100px;
}

.checked {
    color: #FF6200;
}

.show-desktop {
    display: inherit;
}
.hide-desktop {
    display: none;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
    background: rgba(0,123,255,0.3);
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
}



// NAVBAR
.navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
}

.navbar.sticky{
    background: #FF6200;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}

.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}

.navbar .menu-list{
    display: inline-flex;
}

.menu-list li{
    list-style: none;

    a{
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        margin-left: 25px;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        padding: 0 25px;
        opacity: 0.9;
    }
}

.menu-list li a:hover{
    color: #000;
    opacity: 1;
}

.icon{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.menu-list .cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
}

.logo {
    text-align: center;
}

.shoppingCartIcon {
    color: white;
}







// FOOTER
.followUsFooter {padding-top: 2rem; grid-area: followUs}
.newsletter {padding-top: 2rem; grid-area: newsletter}
.menFooter {grid-area: men}
.womenFooter {grid-area: women}
.supportFooter {grid-area: support}

footer {
    background: rgb(8, 8, 8);
}

.footerContainer {
    color: white;
    display: grid;
    padding: 3rem 0;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    "men women support followUs newsletter newsletter";

    

    h2 {
        font-size: 1.6rem;
    }


    ul {
        list-style-type: none;

        li {
            font-size: .95rem;
            padding: 0.3rem 0;
        }
    }


    form {
        input {
            background: none;
            border: 1px solid white;
            padding: 10px;
            color: white;
            margin: .7rem 0;
            width: 250px;
        }

        button {
            background: white;
            color: #000;
            font-weight: 500;
            padding:10px;
            border: 1px solid white;
        }
    }
}

::placeholder {
    color: white;
    opacity: 0.7;
}

.footerInfo {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 13.5px;
    color: rgb(98, 98, 98);
    padding-bottom: 1rem;

    a {
        color: white;
        text-decoration: none;
    }
}
