// BASE
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.zoom {
    transition: transform .3s;
}

.zoom:hover {
    -ms-transform: scale(1.02); /* IE 9 */
    -webkit-transform: scale(1.02); /* Safari 3-8 */
    transform: scale(1.02); 
    cursor: pointer;
}

.bestSellersUnderline {
    position: absolute;
    bottom: -8px;
    background-color: #f6a364;
    height: 5px;
    width: 10rem;
    border-radius: 100px;
}

.checked {
    color: #FF6200;
}

.show-desktop {
    display: inherit;
}
.hide-desktop {
    display: none;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
    background: rgba(0,123,255,0.3);
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
}



// NAVBAR
.navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
}

.navbar.sticky{
    background: #FF6200;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}

.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}

.navbar .menu-list{
    display: inline-flex;
}

.menu-list li{
    list-style: none;

    a{
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        margin-left: 25px;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        padding: 0 25px;
        opacity: 0.9;
    }
}

.menu-list li a:hover{
    color: #000;
    opacity: 1;
}

.icon{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.menu-list .cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
}

.logo {
    text-align: center;
}

.shoppingCartIcon {
    color: white;
}




// LANDING PAGE
.landingPage {
    background-image: linear-gradient(315deg, #ffc085 0%, #f6a364 74%);
    height: 100vh;
}

.landingPage .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.landingContent {
    flex: .4;

    h1 {
        padding-bottom: 1.6rem;
        font-size: 4rem;
    }

    p {
        font-size: 1.5rem;
        line-height: 45px;

    }

    button {
        border: none;
        background: #FF6200;
        border-radius: 60px;
        margin-top: 2.5rem;
        padding: 1rem 3rem;
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
        cursor: pointer;
        opacity: 0.7;
        transition: 0.3s;

        &:hover {
            opacity: 1;
        }
    }
}

.landingImage {
    flex: .5;

    img {
        width: 100%;
        pointer-events: none;
    }
}





// CATEGORY PICTURES
.cImg {
    display: block;
    width: 100%;
    height: auto;
}

.categories {
    padding: 8rem 0;
    display: flex;
    justify-content: space-between;
}

// hover effect
.category {
    position: relative;
    width: calc(100% - 1rem)
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #f6a364;
}

.category:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
}





//  BEST SELLERS
.bestSellers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.bestSeller {
    width: calc(25% - 1rem);
    margin-bottom: 2rem;
    height: 100%;
    font-size: 1.1rem;

    img{
        width: 100%;
    }

    p:nth-of-type(1) {
        padding: .1rem 0;
        font-weight: 500;
    }
    p:nth-of-type(2) {
        padding-top: .15rem;
    }
}

.bestSellersText, .newReleaseText {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 3.5rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.bestSellersUnderline {
    position: absolute;
    bottom: -8px;
    background-color: #f6a364;
    height: 5px;
    width: 10rem;
    border-radius: 30px;
}





// NEW RELEASES 
.newReleaseText {
    margin: 8rem 0 3.5rem 0; 
}

.newReleases {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.newRelease {
    width: calc(25% - 1rem);
    height: 100%;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    
    img{
        width: 100%;
    }

    p:nth-of-type(1) {
        padding: .1rem 0;
        font-weight: 500;
    }
    p:nth-of-type(2) {
        padding-top: .15rem;
    }
    
}

.newReleasesUnderline {
    position: absolute;
    bottom: -8px;
    background-color: #f6a364;
    height: 5px;
    width: 13.5rem;
    border-radius: 30px;
}



// EXCLUSIVE ITEM
.exclusiveItem {
    background-image: linear-gradient(315deg, #f6a364 0%, #ffc085 74%);
    margin: 8rem 0;
}

.exclusiveItemContainer {
    padding: 4rem 0;
}

.exclusiveItem .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.exclusiveItemContent {
    flex: .5;

    h1 {
        padding: 1.4rem 0;
        font-size: 4rem;
    }

    p {
        font-size: 1.3rem;
        line-height: 45px;
    }

    button {
        border: none;
        background: #FF6200;
        border-radius: 30px;
        margin-top: 2.5rem;
        padding: 1rem 3rem;
        color: white;
        text-decoration: none;
        font-size: 1.3rem;
        cursor: pointer;
        opacity: 0.7;
        transition: 0.3s;

        &:hover {
            opacity: 1;
        }

    }
}

p.onlyavailablehere {
    font-size: 18px;
    opacity: 0.6;
}

.exclusiveItemImg {
    flex: .4;

    img {
        width: 100%;
        pointer-events: none;
    }
}



// TESTIMONIALS
.testimonials {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.testimonial {
    padding: 3rem 0;
    width: calc(33% - 1rem);
}

.quote {
    color: #ffc085;
    padding-bottom: 1.4rem;
}

.testimonial {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    img {
        border-radius: 50%;
        width: 30%;
    }  
}

blockquote {
    font-style: italic;
    line-height: 35px;
    padding: 0 1.4rem;
}

.quoteAuthor {
    color: #fa8933;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1.4rem 0;
}





// FEATURED COMPANIES
.companies {
    padding: 6rem 0;
    display: flex;
    justify-content: space-between;
    img {
        width: 100%;
    }
}

.company {
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
    width: calc(100% - 1rem)
}

.company:hover {
    filter: grayscale(0);
}   







// FOOTER
.followUsFooter {padding-top: 2rem; grid-area: followUs}
.newsletter {padding-top: 2rem; grid-area: newsletter}
.menFooter {grid-area: men}
.womenFooter {grid-area: women}
.supportFooter {grid-area: support}

footer {
    background: rgb(8, 8, 8);
}

.footerContainer {
    color: white;
    display: grid;
    padding: 3rem 0;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    "men women support followUs newsletter newsletter";

    

    h2 {
        font-size: 1.6rem;
    }


    ul {
        list-style-type: none;

        li {
            font-size: .95rem;
            padding: 0.3rem 0;
        }
    }


    form {
        input {
            background: none;
            border: 1px solid white;
            padding: 10px;
            color: white;
            margin: .7rem 0;
            width: 250px;
        }

        button {
            background: white;
            color: #000;
            font-weight: 500;
            padding:10px;
            border: 1px solid white;
        }
    }
}

::placeholder {
    color: white;
    opacity: 0.7;
}

.footerInfo {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 13.5px;
    color: rgb(98, 98, 98);
    padding-bottom: 1rem;

    a {
        color: white;
        text-decoration: none;
    }
}







@media (max-width: 1230px) {
    // BASE
    .container {
        padding: 0 60px;
    }



    // LANDING PAGE
    .landingContent {

        h1 {
            font-size: 3.5rem;
        }

        p {
            font-size: 1.4rem;
        }
    }



    // EXCLUSIVE ITEM
    .exclusiveItemContainer {
        padding: 4rem 60px;
        
        h1 {
            padding: 1.2rem 0;
            font-size: 3.5rem;
        }
    
        p {
            font-size: 1.4rem;

            &:nth-of-type(1) {
                font-size: 1.1rem;
            }
        }
    
        button {
            font-size: 1.2rem;
        }
    }




    // FOOTER
    .footerContainer {
        form {
            input {
                width: 225px;
            }
        }
    }


}







@media (max-width: 1100px) {
    // BASE
    .container{
        padding: 0 50px;
    }



    

    // NAVBAR
    .menu-list li {

        a {
            padding: 0 20px;
        }
    }





    // LANDING PAGE
    .landingContent {

        h1 {
            font-size: 3rem;
        }

        p {
            font-size: 1.2rem;
        }
    
        button {
            font-size: 1.1rem;
        }
    }





    // EXCLUSIVE ITEM
    .exclusiveItemContainer {
        padding: 4rem 0;
    }

    .exclusiveItemContent {

        h1 {
            font-size: 3rem;
        }

        p {
            font-size: 1.2rem;
        }

        button {
            font-size: 1.2rem;
        }
    }

    .exclusiveItemImg {
        flex: .5;
    }





    // FOOTER
    .footerContainer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "men women support"
        "followUs newsletter .";

        form {
            input {
                width: 200px;
            }
        }
    }
}





@media (max-width: 950px) {
    .container{
        padding: 0 40px;
    }

    // NAVBAR
    .menu-list li {
        a {
            padding: 0 15px;
        }
    }




    // LANDING PAGE
    .landingImage {
        flex: .6;
    }



    


    // BEST SELLERS
    .bestSeller {
        width: calc(50% - 1rem)
    }






    //  NEW RELEASES 
    .newRelease {
        width: calc(50% - 1rem);
    }

    .newRelease5 {
        display: none;
    }
    .newRelease6 {
        display: none;
    }
    .newRelease7 {
        display: none;
    }
    .newRelease8 {
        display: none;
    }






    // EXCLUSIVE ITEM
    .exclusiveItemContainer {
        padding: 4rem 40px;
    }





    // TESTIMONIALS


    .testimonial {
        width: 100%;
        margin: 1rem 0;


        img {
            width: 18%;
        }
    }






    // FEATURED COMPANIES
    .companies {
        padding-top: 4rem;
    }

    .company {
        filter: grayscale(0);
    }




    // FOOTER
    .footerInfo {
        display: flex;
        align-items: center;
    }
}





@media (max-width: 868px) {
    .show-mobile {
        display: inherit;
    }
    .hide-mobile {
        display: none;
    }


    body.disabled{
        overflow: hidden;
    }

    .icon{
        display: block;
    }

    .navbar .menu-list{
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: #FF6200;
        transition: all 0.3s ease;
    }

    .navbar.show .menu-list{
        left: 0%;
    }

    .navbar .menu-list li{
        margin-top: 45px;
    }

    .navbar .menu-list li a{
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .navbar.show .menu-list li a{
        margin-left: 0px;
    }







    //  CATEGORY PICTURES
    .categories {
        display: none;  
    }





    // BEST SELLERS
    .bestSellersText {
        margin-top: 8rem;
    }
}




@media (max-width: 750px) {
    .navbar .logo a{
      font-size: 27px;
    }




    // LANDING PAGE
    .landingPage .container {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .landingContent {
        flex: 1;
    }

    .landingImage {
        display: none;
    }







    // EXCLUSIVE ITEM
    .exclusiveItem {
        margin-bottom: 4rem;
    }

    .exclusiveItem .container {
        display: block;
    }

    .exclusiveItemContent {
        text-align: center;
        padding-top: 2rem;
    }

    .exclusiveItemImg {
        margin: 0 auto;
        width: 45%;
    }
}





@media (max-width: 600px) {
    // TESTIMONIALS
    .testimonials {
        padding-bottom: 4rem;
    }





    // FEATUREED COMPANY LOGOS
    .companies {
        display: none;
    }
    
}




 @media (max-width: 575px) {
    // FOOTER
    .footerContainer {
        grid-template-areas: 
        "men women support"
        "followUs newsletter newsletter";
    }
}




@media (max-width: 525px) {
    // BEST SELLER
    .bestSeller {
        width: 100%;
    }

    .bestSeller3 {
        display: none;
    }
    .bestSeller4 {
        display: none;
    }




    // NEW RELEASE
    .newRelease {
        width: 100%;
    }
    
    .newRelease3 {
        display: none;
    }
    .newRelease4 {
        display: none;
    }



    // EXCLUSIVE ITEM
    .exclusiveItemImg {
        width: 70%;
    }
}







@media (max-width: 470px) {

    // FOOTER
    .footerContainer {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        "men men women women"
        "support support followUs followUs"
        "newsletter newsletter newsletter newsletter";


        form {
            input {
                width: 100%;
            }

            button {
                width: 100%;
                margin-bottom: 2rem;
            }
        }
    }

    .supportFooter {
        padding-top: 2rem;
    }

    .footerContainer {
        padding-bottom: 0;
    }

    .footerInfo {
        display: block;
        text-align: center;
    }

    .watermark {
        padding-top: .5rem;
    }
}





@media (max-width: 350px) {
    // LANDING PAGE
    .landingContent {
        h1 {
            font-size: 3rem;
        }

        p {
            font-size: 1.2rem;
        }

        button {
            font-size: 1rem;
        }
    }



    // BEST SELLERS
    .bestSeller:nth-of-type(2) {
        margin-bottom: 0;
    }




    // EXCLUSIVE ITEM
    .exclusiveItemContent {

        h1 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1rem;
        }
    }

    p.onlyavailablehere {
        font-size: 12px;
        opacity: 0.6;
    }




    // TESTIMONIALS
    .testimonials {
        display: none;
    }




    .footerContainer {
        h2 {
            font-size: 1.3rem;
        }

        ul {
            li {
                font-size: .8rem;
            }
        }
    }
}







@media (max-width: 300px) {
    .bestSellersText, .newReleaseText {
        font-size: 1.5rem;
    }
    // EXCLUSIVE ITEM
    .exclusiveItemContent {

        h1 {
            font-size: 2rem;
        }

        p {
            font-size: .9rem;
            line-height: 38px;
        }

        button {
            font-size: 1rem;
        }
    }

    .exclusiveItemContainer p:nth-of-type(1) {
        font-size: .8rem;
        opacity: 0.6;
    }




    // TESTIMONIALS
    .testimonials {
        display: none;
    }




    .footerContainer {
        h2 {
            font-size: 1.3rem;
        }

        ul {
            li {
                font-size: .8rem;
            }
        }
    }
}



@media (max-width: 270px) {
    // FOOTER
    .footerContainer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
        "men"
        "women"
        "support"
        "followUs"
        "newsletter";
    }
}




// iPhone 6/7/8
@media (max-width: 375px) and (max-height: 667px) {
    .landingContent {
        h1 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1.1rem;
        }

        button {
            font-size: .95rem;
        }
    }


    .bestSellersText, .newReleaseText {
        font-size: 1.5rem;
    }




    // EXCLUSIVE ITEM
    .exclusiveItemContent {

        h1 {
            font-size: 2.3rem;
        }

        p {
            font-size: 1rem;
            line-height: 38px;
        }

        button {
            font-size: 1.2rem;
        }
    }

    .exclusiveItemContainer p:nth-of-type(1) {
        font-size: .9rem;
        opacity: 0.6;
    }



    .footerInfo {
        font-size: .9rem;
    }
}







// iPhone 5/SE
@media (max-width: 320px) and (max-height: 568px) {
    .landingContent {
        h1 {
            font-size: 2rem;
        }

        p {
            font-size: .85rem;
            line-height: 35px;
        }

        button {
            font-size: .8rem;
        }
    }


    .bestSellersText, .newReleaseText {
        font-size: 1.3rem;
    }

    .bestSellersUnderline {
        width: 8rem;
    }

    .newReleasesUnderline {
        width: 10rem;
    }

    .newRelease {
        font-size: .9rem;
    }

    .bestSeller {
        font-size: .9rem;
    }


    // EXCLUSIVE ITEM
    .exclusiveItemContent {

        h1 {
            font-size: 1.9rem;
        }

        p {
            font-size: .85rem;
            line-height: 36px;
        }

        button {
            font-size: 1rem;
        }
    }

    .exclusiveItemContainer p:nth-of-type(1) {
        font-size: .75rem;
        opacity: 0.6;
    }


    .footerInfo {
        font-size: .7rem;
    }
}